<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.exe.mapper.RoleMapper">
	<resultMap type="role" id="roleMap">
		<id column="id" property="id"/>
		<result column="role_name" property="roleName"/>
		<result column="note" property="note"/>
	</resultMap>
	<sql id="cols">id,role_name,note</sql>
	<select id="getRole" parameterType="long" resultMap="roleMap">
		select <include refid="cols"></include> from t_role where id=#{id}
	</select>
</mapper>