<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.RoleMapper">
	<resultMap type="role" id="roleMap">
		<id column="id" property="id"/>
		<result column="role_name" property="roleName"/>
		<result column="note" property="note"/>
	</resultMap>
	<sql id="insertCols">role_name,note</sql>
	<sql id="allCols">id,role_name,note</sql>
	<delete id="deleteRole">
		delete from t_role where id=#{id}
	</delete>
	<select id="getRole" resultMap="roleMap">
		select <include refid="allCols"></include> from t_role where id=#{id}
	</select>
	<select id="findRoles" resultMap="roleMap" parameterType="roleParams">
		select <include refid="allCols"></include> from t_role
		<trim prefix="where" prefixOverrides="and">
			<if test="roleName != null and roleName != ''">
				<bind name="p_roleName" value="'%'+roleName+'%'"/>
				and role_name like #{p_roleName}
			</if>
			<if test="note != null and note != ''">
				<bind name="p_note" value="'%'+note+'%'"/>
				and note like #{p_note}
			</if>
		</trim>
		<if test="pageParams!=null">
			limit #{pageParams.start} , #{pageParams.limit}
		</if>
	</select>
	<update id="updateRole" parameterType="role">
		update t_role
		<trim prefix="set" suffixOverrides=",">
			<if test="roleName != null and roleName != ''">
				role_name=#{roleName},
			</if>
			<if test="note != null and note != ''">
				note=#{note},
			</if>
		</trim>
		where id=#{id}
	</update>
	<insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role (<include refid="insertCols"></include>) values(#{roleName},#{note})
	</insert>
</mapper>